<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<title>Colton Bishop</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">


					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-code"></i>
							<div class="right-area">
								<h5><a href="projects/"><br>Project Portolio</a></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->

					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-information-circled"></i>
							<div class="right-area">
								<h5><a href="#aboutme"><br>About Me</a></h5>
								<h5></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->


					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>+1 (518) 744-3011</h5>
								<h6>cmbishop@princeton.edu</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->


				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
			<a class="downlad-btn" href="/resume">Download CV</a>
		</div><!-- container -->
	</header>
	
<h1> <br><br><br>Hey you've reached the portfolio gallery!<br><br><br> </h1>
	


	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>


	</footer>
	
	
	<!-- SCIPTS -->
	<script src="{% static 'common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'common-js/scripts.js' %}"></script>
	
</body>
</html>