<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<title>Colton Bishop</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>

	<header>
		<div class="container" style="scroll-behavior: smooth;">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-code"></i>
							<div class="right-area">
								<h5><a href="#portfolio" ><br>Project Portolio</a></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-information-circled"></i>
							<div class="right-area">
								<h5><a href="#aboutme"><br>About Me</a></h5>
								<h5></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>+1 (518) 744-3011</h5>
								<h6>cmbishop@princeton.edu</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			<a class="downlad-btn" href="/resume">Download CV</a>
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{% static 'images/face.png' %}" alt=""></div>
						<h2 style="color:black" ><b >Colton Bishop</b></h2>
						<h4 class="font-grey">Princeton University, 2020</h4>
						<h4 style="color:grey">UWC Atlantic College, 2016</h4>
						<ul class="information margin-tb-30">
							<li><b >Degree: </b>BSE in Computer Science</li>
							<li><b>Minor: </b>Statistics and Machine Learning</li>
							<li><b>Interests: </b>Music, Language Learning, Technology for Impact</li>
<!-- 							<br><li style="text-align: justify; "><b>Interests: </b>Technology for Impact, Resource Scarce Machine</li> -->
						</ul>
						<ul class="social-icons">
							<li><a href="https://github.com/coltonbishop"><i class="ion-social-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/colton-bishop-677819126"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="https://www.facebook.com/colton.bishop.735"><i class="ion-social-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/colton__bishop/"><i class="ion-social-instagram"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<a name="portfolio"></a> 
	<section class="portfolio-section section" style="padding-top: 0;">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Snapshot of Portfolio</b></h3>
						<h6 class="font-lite-black"><b><a href="https://github.com/coltonbishop">Click here to view my projects on GitHub.</a></b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>All</b></a>
						<a href="#" data-filter=".featured"><b>Featured</b></a>
						<a href="#" data-filter=".web"><b>Web Development</b></a>
						<a href="#" data-filter=".ios"><b>Mobile Development</b></a>
						<a href="#" data-filter=".ml"><b>ML Projects</b></a>
						<a href="#" data-filter=".research"><b>Research</b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="portfolioContainer" style="  display: block; margin-left: auto; margin-right: auto; width: 70%;" >
			
			<div class="p-item ios" style="cursor: pointer;">
					<a href="/projects/hivescience" onclick="location.href='/projects/hivescience';">
						<img src="{% static 'portfolio/hive.png' %}" alt="">
					</a>
			</div><!-- p-item -->

			<div class="p-item featured web">
				<a href="/projects/wengga" onclick="location.href='/projects/wengga';">
					<img src="{% static 'portfolio/wengga.png' %}" alt="">
				</a>
			</div><!-- p-item -->


			<div class="p-item research ml">
				<a href="/projects/pokedex" onclick="location.href='/projects/pokedex';">
					<img src="{% static 'portfolio/pokedex.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item web">
				<a href="/projects/alquilando" onclick="location.href='/projects/alquilando';">
					<img src="{% static 'portfolio/alquilando.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item featured web">
				<a href="/projects/deepmesh" onclick="location.href='/projects/deepmesh';">
					<img src="{% static 'portfolio/deep.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item featured ml">
				<a href="/projects/donatello" onclick="location.href='/projects/donatello';">
					<img src="{% static 'portfolio/donatello.png' %}" alt="">
				</a>
			</div><!-- p-item -->
				
			<div class="p-item web">
				<a href="/projects/esg" onclick="location.href='/projects/esg';">
					<img src="{% static 'portfolio/esg.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item web">
				<a href="/projects/personal" onclick="location.href='/projects/personal';">
					<img src="{% static 'portfolio/personal.png' %}" alt="">
				</a>
			</div><!-- p-item -->
			
			<div class="p-item ml research">
				<a href="/projects/symcnn" onclick="location.href='/projects/symcnn';">
					<img src="{% static 'portfolio/aided.png' %}" alt="">
				</a>
			</div><!-- p-item -->
			
			<div class="p-item research ml">
				<a href="/projects/activelearning" onclick="location.href='/projects/activelearning';">
					<img src="{% static 'portfolio/activelearning.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item featured ml ios">
				<a href="/projects/rype" onclick="location.href='/projects/rype';">
					<img src="{% static 'portfolio/rype.png' %}" alt="">
				</a>
			</div><!-- p-item -->
			
			<div class="p-item featured web">
				<a href="/projects/tigertales" onclick="location.href='/projects/tigertales';">
					<img src="{% static 'portfolio/tt.png' %}" alt="">
				</a>
			</div><!-- p-item -->

			<div class="p-item web">
				<a href="/projects/puentes" onclick="location.href='/projects/puentes';">
					<img src="{% static 'portfolio/puentes.png' %}" alt="">
				</a>
			</div><!-- p-item -->
			
			<div class="p-item  ml">
				<a href="/projects/wengganet" onclick="location.href='/projects/wengganet';">
					<img src="{% static 'portfolio/wengga-net.png' %}" alt="">
				</a>
			</div><!-- p-item -->
				

			<div class="p-item ml research">
				<a href="/projects/nmt" onclick="location.href='/projects/nmt';">
					<img src="{% static 'portfolio/nmt.png' %}" alt="">
				</a>
			</div><!-- p-item -->


<!-- 			<div class="p-item p-item-2">
				<a class="img" href="{% static 'images/portfolio-8-300x400.jpg' %}" data-fluidbox>
					<img src="{% static 'images/portfolio-8-300x400.jpg' %}" alt=""></a>
				<a class="img" href="{% static 'images/portfolio-9-300x400.jpg' %}" data-fluidbox>
					<img src="{% static 'images/portfolio-9-300x400.jpg' %}" alt=""></a>
			</div>p-item -->
		</div><!-- portfolioContainer -->
	</section><!-- portfolio-section -->

	<a name="aboutme"></a> 
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Education</b></h3>
						<h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Princeton University</b></h4>
							<h5 class="font-yellow"><b>BSE in Computer Science <br></b></h5>
							<h6 class="font-lite-black margin-t-10">2016-2020 (Anticipated Graduation: December 2020) </h6>
							<p class="font-semi-white margin-tb-30">Currently in pursuit of a Bachelor of Science in Engineering in Computer Science at Princeton University with a minor in Statistics and Machine Learning. My academic research has centered on cloud computing, 3D modeling, and machine translation. </p>
							<p class="font-semi-white margin-tb-30"> At Princeton, I sing Tenor II with the Princeton Tigertones, serve as a Davis International Center student leader and lead International Orientation, swim for Club Swim team, and volunteer with the National Suicide Prevention Lifeline and Petey Greene prison tutoring program. I also work as a quantatitive research assistant in two faculuty research groups: the Behavioral Science for Policy Lab and the Person Project.</p>
						</div><!-- education -->

						<div class="education margin-b-50">
							<h4><b>University of Sevilla</b></h4>
							<h5 class="font-yellow"><b>Study Abroad</b></h5>
							<h6 class="font-lite-black margin-t-10">Spring 2020</h6>
							<p class="font-semi-white margin-tb-30">Studied in Spanish and French immersion at the University of Sevilla in Spain. </p>
						</div><!-- education -->	

						<div class="education margin-b-50">
							<h4><b>Semester at Sea</b></h4>
							<h5 class="font-yellow"><b>Davis Scholar</b></h5>
							<h6 class="font-lite-black margin-t-10">Fall 2018 Voyage</h6>
							<p class="font-semi-white margin-tb-30"> Received a full Davis scholarship to study aboard the M.V. World Oddessy and participate as a Davis Scholar on the Semester at Sea Fall 2018 Voyage.</p>
							<img src="{% static 'images/fa18.png' %}" alt=""></a>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>UWC Atlantic College</b></h4>
							<h5 class="font-yellow"><b>International Baccalaureate Diploma Programme</b></h5>
							<h6 class="font-lite-black margin-t-10">2014-2016</h6>
							<p class="font-semi-white margin-tb-30">Received a full scholarship from the US National Committee to live and study for two years at UWC Atlantic College in the UK. Notable accomplishments include founding and leading an English tutoring and support program for refugees in Cardiff, speaking on behalf of education reform at the U.K. Parliment, and leading the 2016 United World Conference and MUN Confernece. </p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- about-section -->

	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Work Experience</b></h3>
						<h6 class="font-lite-black"><b>PROFESSIONAL CAREER</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">

					<div class="education margin-b-50">
							<h4><b>Microsoft </b></h4>
							<h5 class="font-yellow"><b>Software Engineer Intern</b></h5>
							<h6 class="margin-t-10">May 2020 - July 2020  | Seattle, Washington</h6>
							<!-- <p class="margin-tb-30 ">Worked in an all Spanish Environment</p> -->
							<ul class="list margin-b-30"><br>
								<li>Interned on the Azure Container Networking Team.</li><br><br>
								<li>Enabled the delegated network controller (DNC) to bypass container networking services during the creation and destruction of container infrastructure, allowing multiple local DNC instances to run simultaneously.</li><br><br>
								<li>Built a CI/CD concurrent load testing pipeline integrated with Azure DevOps for continuous and scalable regression testing and performance analysis of the DNC API; applied load testing infrastructure to expose several liabilities and performance bottlenecks.</li><br><br>

							</ul>
							<img src="{% static 'images/dnc.png' %}" alt=""></a>
						</div><!-- experience -->

					<div class="education margin-b-50">
						<h4><b>Behavioral Science for Policy Lab</b></h4>
						<h5 class="font-yellow"><b>Quantitative Research Assistant and Data Analyst</b></h5>
						<h6 class="margin-t-10">September 2019 - October 2020 | Princeton, NJ</h6>
						<!-- <p class="margin-tb-30 ">Application Production Team </p> -->
						<ul class="list margin-b-30"><br>

						<li>Worked as an quantatative assistant for researchers in the Andlinger Center for Energy and the Environment's Behavioral Science for Policy Lab. </li><br><br>
						<li>Designed and conducted data scraping initiatives (government transcripts, academic journals, new sources, targeted social media users/regions/campaigns) and developed a language modeling and sentiment analysis API to expose i) how semantic treatment of the environment in business, policy, and academia has evolved over time, ii) how different geographic and demographic population segments respond to selected political and environmental events.</li>

						</ul>
					</div><!-- experience -->

					<div class="education margin-b-50">
						<h4><b>Brown Brothers Harriman</b></h4>
						<h5 class="font-yellow"><b>Systems and Software Engineer Intern</b></h5>
						<h6 class="margin-t-10">June 2019 - August 2019 | Boston, US</h6>
						<!-- <p class="margin-tb-30 ">Application Production Team </p> -->
						<ul class="list margin-b-30"><br>
						<li>Interned on the Application Production Team.</li><br><br>
						<li>Proposed and developed a MEAN-stack web application to collect, analyze, and visualize environmental performance data across offices; invited to present to senior leaders in the New York, Zurich, and Luxembourg offices. </li><br><br>
						<li>Developed Java scripts to automate the maintenance and testing of major firm-wide applications and web portals. </li>
						<li>One of three charged with overseeing the migration of legacy testing scripts to a new integrated platform.</li><br><br>

						</ul>
					</div><!-- experience -->

					<div class="education margin-b-50">
						<h4><b>Alquilando</b></h4>
						<h5 class="font-yellow"><b>Data Analyst and Software Engineer Intern</b></h5>
						<h6 class="margin-t-10">June 2018 - August 2018 | Buenos Aires, Argentina</h6>
						<!-- <p class="margin-tb-30 ">Worked in an all Spanish Environment</p> -->
						<ul class="list margin-b-30"><br>
							<li>Interned at Alquilando, an Argentinian Real Estate Tech Startup.</li><br><br>
							<li>Proposed, developed, and launched a web application to automate the creation and distribution of contracts, reducing the 25 minute process by 80%.</li><br><br>
							<li>Developed python API to routinely scrape and analyze relevant market data and automate the generation of comparative reports.</li><br><br>
							<li>Integrated ad campaign data streams with Google Data Studio and Cyfe to design interactive dashboards for analysis.</li><br><br>
							<li>All work conducted in Spanish.</li><br><br>
						</ul>
					</div><!-- experience -->
					

					<div class="education margin-b-50">
						<h4><b>U.S. Environmental Protection Agency</b></h4>
						<h5 class="font-yellow"><b>iOS Developer Intern</b></h5>
						<h6 class="margin-t-10">January 2018 - February 2018 | Washington D.C., US</h6>
						<!-- <p class="margin-tb-30 ">Environmental Protection Agency | Office of Digital Services and Technical Architecture.</p> -->
						<ul class="list margin-b-30"><br>
							<li>Participated in the “Princeternship” program as a software developer at the EPA.</li><br><br>
							<li>Pushed version 1.0.10 of the EPA iOS application HiveScience to the App Store.</li><br><br>
							<li>HiveScience version 1.0.10 contributions: integrated barcode scanning functionality, improved form submission process, resolved minor bugs, and responded to user feedback with front end updates.</li><br><br>
						</ul>
					</div><!-- experience -->

				</div>
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	

	
	<section class="counter-section" id="counter">
		<div class="container">

			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	<footer>
		<p class="copyright">
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	<script src="{% static 'common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'common-js/scripts.js' %}"></script>
	
</body>
</html>