<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<title>Colton Bishop</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static '01-cv-portfolio/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>

	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-code"></i>
							<div class="right-area">
								<h5><a href="projects/"><br>Project Portolio</a></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-information-circled"></i>
							<div class="right-area">
								<h5><a href="#aboutme"><br>About Me</a></h5>
								<h5></h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>+1 (518) 744-3011</h5>
								<h6>cmbishop@princeton.edu</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			<a class="downlad-btn" href="/resume">Download CV</a>
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{% static 'images/face.png' %}" alt=""></div>
						<h2><b>Colton Bishop</b></h2>
						<h4 class="font-grey">Princeton University, 2020</h4>
						<ul class="information margin-tb-30">
							<li><b>Degree: </b>BSE in Computer Science</li>
							<li><b>Certificates: </b>Statistics and Machine Learning</li>
							<li><b>Interests: </b>Technology and Education, Computer Vision, <br> Natural Language Processing, Machine Translation</li>
						</ul>
						<ul class="social-icons">
							<li><a href="https://github.com/coltonbishop"><i class="ion-social-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/colton-bishop-677819126"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="https://www.facebook.com/colton.bishop.735"><i class="ion-social-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/colton__bishop/"><i class="ion-social-instagram"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<a name="snapshot"></a> 
	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Snapshot of Portfolio</b></h3>
						<h6 class="font-lite-black"><b><a href="/projects">Click here to view full portfolio</a></b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>Featured</b></a>
						<a href="#" data-filter=".web"><b>Web Development</b></a>
						<a href="#" data-filter=".ml"><b>ML Projects</b></a>
						<a href="#" data-filter=".ios"><b>iOS Applications</b></a>
						<a href="#" data-filter=".research"><b>Research</b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="portfolioContainer">
			
			<div class="p-item ios">
				<a href="{% static 'portfolio/hive.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/hive.png' %}" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item">
				<a href="{% static 'portfolio/alquilando.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/alquilando.png' %}" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item web">
				<a href="{% static 'portfolio/deep.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/deep.png' %}" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item ml">
				<a href="{% static 'portfolio/donatello.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/donatello.png' %}" alt=""></a>
			</div><!-- p-item -->
				
			<div class="p-item web">
				<a href="{% static 'portfolio/esg.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/esg.png' %}" alt=""></a>
			</div><!-- p-item -->

			<div class="p-item web">
				<a href="{% static 'portfolio/personal.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/personal.png' %}" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item ml research">
				<a href="{% static 'portfolio/aided.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/aided.png' %}" alt=""></a>
			</div><!-- p-item -->
			

			<div class="p-item ml ios">
				<a href="{% static 'portfolio/rype.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/rype.png' %}" alt=""></a>
			</div><!-- p-item -->
			
			<div class="p-item web">
				<a href="{% static 'portfolio/tt.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/tt.png' %}" alt=""></a>
			</div><!-- p-item -->

			<div class="p-item web">
				<a href="{% static 'portfolio/puentes.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/puentes.png' %}" alt=""></a>
			</div><!-- p-item -->
			

			
			<div class="p-item  ml">
				<a href="{% static 'portfolio/wengga-net.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/wengga-net.png' %}" alt=""></a>
			</div><!-- p-item -->
				
			<div class="p-item web">
				<a href="{% static 'portfolio/wengga.png' %}" data-fluidbox>
					<img src="{% static 'portfolio/wengga.png' %}" alt=""></a>
			</div><!-- p-item -->



<!-- 			<div class="p-item p-item-2">
				<a class="img" href="{% static 'images/portfolio-8-300x400.jpg' %}" data-fluidbox>
					<img src="{% static 'images/portfolio-8-300x400.jpg' %}" alt=""></a>
				<a class="img" href="{% static 'images/portfolio-9-300x400.jpg' %}" data-fluidbox>
					<img src="{% static 'images/portfolio-9-300x400.jpg' %}" alt=""></a>
			</div>p-item -->
		</div><!-- portfolioContainer -->
	</section><!-- portfolio-section -->

	<a name="aboutme"></a> 
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Education</b></h3>
						<h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Princeton University</b></h4>
							<h5 class="font-yellow"><b>BSE in Computer Science <br></b></h5>
							<h6 class="font-lite-black margin-t-10">Expected Graduation Date: December 2020</h6>
							<p class="font-semi-white margin-tb-30">Currently in pursuit of a Bachelor of Science in Engineering in Computer Science at Princeton University with certificates in Statistics and Machine Learning. My academic work and interests have centered on statistical modeling, computer vision, machine translation, and natural language processing.</p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>Semester at Sea</b></h4>
							<h5 class="font-yellow"><b>Davis Scholar</b></h5>
							<h6 class="font-lite-black margin-t-10">Fall 2018 Voyage</h6>
							<p class="font-semi-white margin-tb-30"> Received a full scholarship from Mr. Shelby Davis to study aboard the M.V. World Oddessy and participate as a Davis Scholar on the Semester at Sea Fall 2018 Voyage.</p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>UWC Atlantic College</b></h4>
							<h5 class="font-yellow"><b>International Baccalaureate Diploma Programme</b></h5>
							<h6 class="font-lite-black margin-t-10">Graduated in May 2016</h6>
							<p class="font-semi-white margin-tb-30">Received a full scholarship from the US National Committee to live and study for two years at UWC Atlantic College in the UK. Notable accomplishments include founding and leading an English tutoring and support program for refugees in Cardiff, speaking on behalf of education reform at the U.K. Parliment, and leading the 2016 United World Conference and MUN Confernece. </p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- about-section -->

	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Work Experience</b></h3>
						<h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">

					<div class="experience margin-b-50">
						<h4><b>Systems and Software Engineer, Intern</b></h4>
						<h5 class="font-yellow"><b>Brown Brothers Harriman</b></h5>
						<h6 class="margin-t-10">June 2019 - August 2019 | Boston, US</h6>
						<!-- <p class="margin-tb-30 ">Application Production Team </p> -->
						<ul class="list margin-b-30"><br>
							<li>Developed software to automate the testing and maintenance of the WorldView and InfoNAV applications.</li>
							<li>Full stack developer for an application to collect, analyze, and visualize data for the creation of CSR reports.</li>
						</ul>
					</div><!-- experience -->

					<div class="experience margin-b-50">
						<h4><b>Data Analyst and Software Engineer, Intern</b></h4>
						<h5 class="font-yellow"><b>Alquilando</b></h5>
						<h6 class="margin-t-10">June 2018 - August 2018 | Buenos Aires, Argentina</h6>
						<!-- <p class="margin-tb-30 ">Worked in an all Spanish Environment</p> -->
						<ul class="list margin-b-30"><br>
							<li>Built a web application to automate the creation and distribution of contracts, reducing the 25 minute process by 80%.</li>
							<li>Developed software to routinely scrape and analyze market data in five target cities to generate comparative reports.</li>
							<li>Integrated ad campaign data streams with Google Data Studio and Cyfe to design interactive dashboards for analysis.</li>
							<li>Work conducted entirely in Spanish.</li>
						</ul>
					</div><!-- experience -->
					

					<div class="experience margin-b-50">
						<h4><b>iOS Developer, Intern</b></h4>
						<h5 class="font-yellow"><b>U.S. Environmental Protection Agency</b></h5>
						<h6 class="margin-t-10">January 2018 - February 2018 | Washington D.C., US</h6>
						<!-- <p class="margin-tb-30 ">Environmental Protection Agency | Office of Digital Services and Technical Architecture.</p> -->
						<ul class="list margin-b-30"><br>
							<li>Pushed version 1.0.10 of the EPA iOS application HiveScience to the App Store.</li>
							<li>HiveScience version 1.0.10 contributions: developed form submission process and barcode scanning functionality, resolved minor bugs, and responded to user feedback with front end updates.</li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	

	
	<section class="counter-section" id="counter">
		<div class="container">

			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	<footer>
		<p class="copyright">
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	<script src="{% static 'common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'common-js/scripts.js' %}"></script>
	
</body>
</html>